.about {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 40px;
  li {
    position: relative;
    padding-left: 34px;
    span {
      font-size: 16px;
    }
    img {
      position: absolute;
      left: 0px;
      top: 4px;
    }
  }
}
