.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: var(--medium);
  background: var(--color);
  color: var(--white);
  transition: background 0.3s, opacity 0.3s;
  user-select: none;
  &.social {
    padding: 0px;
  }
  &:hover {
    background: var(--hover);
  }
  &.loading {
    pointer-events: none;
    color: rgba(0, 0, 0, 0);
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      border-left: 2px solid var(--white);
      border-top: 2px solid var(--white);
      border-right: 2px solid rgba(0, 0, 0, 0);
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      animation: rotate 0.3s linear infinite;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// 1440 и выше
@media (min-width: 1400px) {
  .button {
    font-size: 20px;
    min-width: 240px;
    padding: 10px 20px;
    min-height: 56px;
    &.mini {
      min-width: 148px;
      min-height: 42px;
      font-size: 12px;
    }
    &.social {
      height: 42px;
      width: 42px;
      min-height: 42px;
      min-width: 42px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// c 320 до 1440
@media (max-width: 1399px) {
  .button {
    font-size: 16px;
    min-width: 212px;
    padding: 10px 20px;
    min-height: 50px;
    &.mini {
      min-width: 120px;
      min-height: 38px;
      font-size: 11px;
    }
    &.social {
      height: 38px;
      width: 38px;
      min-height: 38px;
      min-width: 38px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
