.inputs {
  .button {
    margin-top: 20px;
    @media (max-width: 1023px) {
      margin-top: 0px;
    }
  }
}

.fieldset {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  @media (max-width: 1279px) {
    gap: 12px;
  }
  border: none;
  margin-top: -30px;
  @media (max-width: 1399px) {
    margin-top: -15px;
  }
  &.no--margin {
    margin-top: 0px;
  }
}

.label {
  user-select: none;
  input[type='checkbox'],
  input[type='radio'] {
    display: none;
  }
  input[type='radio'],
  input[type='checkbox'] {
    + span {
      display: inline-flex;
      width: auto;
      position: relative;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding-left: 32px;
      font-size: 16px;
      line-height: 1;
      color: var(--color);
      cursor: pointer;
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0px;
        width: 20px;
        height: 20px;
        border: 1px solid var(--color);
        background: rgba(0, 0, 0, 0);
        transition: border 0.3s;
      }
    }

    &:checked {
      + span {
        &:before {
          background: url('../img/checkbox.svg') no-repeat center center;
          background-size: 60% 60%;
        }
      }
    }
  }

  &.label--mini {
    margin-top: -8px;
    pointer-events: none;
    input[type='radio'],
    input[type='checkbox'] {
      + span {
        padding-left: 16px;
        font-size: 10px;
        &:before {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

input[type='text'],
input[type='tel'] {
  background: none;
  border: none;
  font-size: 16px;
  color: var(--color);
  font-family: var(--regular);
  font-weight: 400;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid var(--color);
  padding: 12px 4px;
  border-radius: 0px;
  outline: none;
  max-width: 276px;

  &::placeholder {
    font-size: 16px;
    color: inherit;
  }

  &.invalid {
    border-bottom: 1px solid var(--invalid);
    color: var(--invalid);
    &::placeholder {
      color: var(--invalid);
    }
  }
}

input[type='text'] {
  margin-top: 20px;
}
