.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 14px 20px;
  background: var(--white);
  z-index: 10;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 160px;
}

.navigation {
  display: flex;
  align-items: center;
  align-content: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.link {
  font-size: 14px;
  font-family: var(--medium);
  transition: 0.3s;
  &:hover {
    color: var(--color);
  }
}
