.text-content {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  width: 100%;
  z-index: 1;
}

.title {
  display: block;
  line-height: 1.12;

  &.title--h1 {
    font-size: 64px;
  }

  &.title--h2 {
    font-size: 36px;
  }

  &.title--h3 {
    font-size: 32px;
  }

  &.title--h4 {
    font-size: 26px;
  }

  &.title--h5 {
    font-size: 18px;
  }

  &.title--h6 {
    font-size: 16px;
  }
}

.subtitle {
  display: block;
  font-size: 24px;
  line-height: 1.12;
  span {
    display: inline-block;
    width: auto;
  }
}
