:root {
  --regular: 'regular', sans-serif;
  --medium: 'medium', sans-serif;
  --bg: #f6f6f6;
  --color: #118a6e;
  --hover: #10755e;
  --white: #ffffff;
  --black: #000000;
  --invalid: #ff0000;
}
@import 'fonts';
@import 'swiper';
@import 'reset';
@import 'typography';
@import 'header';
@import 'buttons';
@import 'about_list';
@import 'forms';
