:root {
  --regular: "regular", sans-serif;
  --medium: "medium", sans-serif;
  --bg: #f6f6f6;
  --color: #118a6e;
  --hover: #10755e;
  --white: #ffffff;
  --black: #000000;
  --invalid: #ff0000;
}

@font-face {
  font-family: "regular";
  src: url("../fonts/graphiklcg-regular.woff2") format("woff2"), url("../fonts/graphiklcg-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("../fonts/graphiklcg-medium.woff2") format("woff2"), url("../fonts/graphiklcg-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.swiper {
  height: 100%;
}

.swiper-slide {
  opacity: 0;
  background: none;
  transition: 1s;
}
.swiper-slide.swiper-slide-active {
  opacity: 1;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-height: 100vh;
  max-width: 1280px;
  padding: 80px 20px;
  margin: 0 auto;
  z-index: 2;
}

.slideImage {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 42%;
  height: calc(100% - 70px);
  pointer-events: none;
  z-index: 0;
  outline: none;
  border: none;
}
.slideImage img {
  width: 100%;
  height: 100%;
}

.inputs {
  display: flex;
  width: 100%;
  padding: 50px 0px;
  flex-direction: column;
  gap: 56px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--black);
  font-size: 16px;
  line-height: 1.12;
  font-family: var(--regular);
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.3;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  fill: currentColor;
}

.color {
  color: var(--color);
}

.text-content {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  width: 100%;
  z-index: 1;
}

.title {
  display: block;
  line-height: 1.12;
}
.title.title--h1 {
  font-size: 64px;
}
.title.title--h2 {
  font-size: 36px;
}
.title.title--h3 {
  font-size: 32px;
}
.title.title--h4 {
  font-size: 26px;
}
.title.title--h5 {
  font-size: 18px;
}
.title.title--h6 {
  font-size: 16px;
}

.subtitle {
  display: block;
  font-size: 24px;
  line-height: 1.12;
}
.subtitle span {
  display: inline-block;
  width: auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 14px 20px;
  background: var(--white);
  z-index: 10;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 160px;
}

.navigation {
  display: flex;
  align-items: center;
  align-content: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.link {
  font-size: 14px;
  font-family: var(--medium);
  transition: 0.3s;
}
.link:hover {
  color: var(--color);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: var(--medium);
  background: var(--color);
  color: var(--white);
  transition: background 0.3s, opacity 0.3s;
  font-size: 20px;
  min-width: 240px;
  padding: 10px 20px;
  min-height: 56px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button.mini {
  min-width: 148px;
  min-height: 42px;
  font-size: 12px;
}
.button.social {
  height: 42px;
  width: 42px;
  min-height: 42px;
  min-width: 42px;
  padding: 0px;
}
.button.social svg {
  width: 20px;
  height: 20px;
}
.button:hover {
  background: var(--hover);
}
.button.loading {
  pointer-events: none;
  color: rgba(0, 0, 0, 0);
}
.button.loading:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border-left: 2px solid var(--white);
  border-top: 2px solid var(--white);
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-animation: rotate 0.3s linear infinite;
          animation: rotate 0.3s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 40px;
}
.about li {
  position: relative;
  padding-left: 34px;
}
.about li span {
  font-size: 16px;
}
.about li img {
  position: absolute;
  left: 0px;
  top: 4px;
}

.inputs .button {
  margin-top: 20px;
}

.fieldset {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  margin-top: -30px;
}
.fieldset.no--margin {
  margin-top: 0px;
}

.label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.label input[type=checkbox],
.label input[type=radio] {
  display: none;
}
.label input[type=radio] + span,
.label input[type=checkbox] + span {
  display: inline-flex;
  width: auto;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  font-size: 16px;
  line-height: 1;
  color: var(--color);
  cursor: pointer;
}
.label input[type=radio] + span:before,
.label input[type=checkbox] + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color);
  background: rgba(0, 0, 0, 0);
  transition: border 0.3s;
}
.label input[type=radio]:checked + span:before,
.label input[type=checkbox]:checked + span:before {
  background: url("../img/checkbox.svg") no-repeat center center;
  background-size: 60% 60%;
}
.label.label--mini {
  margin-top: -8px;
  pointer-events: none;
}
.label.label--mini input[type=radio] + span,
.label.label--mini input[type=checkbox] + span {
  padding-left: 16px;
  font-size: 10px;
}
.label.label--mini input[type=radio] + span:before,
.label.label--mini input[type=checkbox] + span:before {
  width: 10px;
  height: 10px;
}

input[type=text],
input[type=tel] {
  background: none;
  border: none;
  font-size: 16px;
  color: var(--color);
  font-family: var(--regular);
  font-weight: 400;
  border-bottom: 1px solid var(--color);
  padding: 12px 4px;
  outline: none;
  max-width: 276px;
}
input[type=text]::-moz-placeholder, input[type=tel]::-moz-placeholder {
  font-size: 16px;
  color: inherit;
}
input[type=text]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder {
  font-size: 16px;
  color: inherit;
}
input[type=text]::placeholder,
input[type=tel]::placeholder {
  font-size: 16px;
  color: inherit;
}
input[type=text].invalid,
input[type=tel].invalid {
  border-bottom: 1px solid var(--invalid);
  color: var(--invalid);
}
input[type=text].invalid::-moz-placeholder, input[type=tel].invalid::-moz-placeholder {
  color: var(--invalid);
}
input[type=text].invalid:-ms-input-placeholder, input[type=tel].invalid:-ms-input-placeholder {
  color: var(--invalid);
}
input[type=text].invalid::placeholder,
input[type=tel].invalid::placeholder {
  color: var(--invalid);
}

input[type=text] {
  margin-top: 20px;
}