@charset "UTF-8";
:root {
  --regular: "regular", sans-serif;
  --medium: "medium", sans-serif;
  --bg: #f6f6f6;
  --color: #118a6e;
  --hover: #10755e;
  --white: #ffffff;
  --black: #000000;
  --invalid: #ff0000;
}

@font-face {
  font-family: "regular";
  src: url("../fonts/graphiklcg-regular.woff2") format("woff2"), url("../fonts/graphiklcg-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("../fonts/graphiklcg-medium.woff2") format("woff2"), url("../fonts/graphiklcg-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.swiper {
  height: auto;
  min-height: 100vh;
}

.swiper-slide {
  opacity: 0;
  background: none;
  transition: 1s;
  min-height: 100vh;
}
.swiper-slide.swiper-slide-active {
  opacity: 1;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-height: 100vh;
  max-width: 1280px;
  padding: 80px 20px;
  margin: 0 auto;
  z-index: 2;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .container {
    max-width: 1100px;
    padding: 68px 30px 60px 30px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 510px;
    min-height: auto;
    gap: 20px;
    padding: 68px 20px 0px 20px;
  }
}

.heroImage {
  max-width: 187px;
  margin: 0 auto;
  margin-top: -20px;
}

.slideImage {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 42%;
  height: calc(100% - 70px);
  pointer-events: none;
  z-index: 0;
  outline: none;
  border: none;
}
.slideImage.slideImage--success {
  height: 90%;
  width: auto;
  right: -5%;
}
.slideImage img {
  width: 100%;
  height: 100%;
}
@media (min-width: 1280px) and (max-width: 1399px) {
  .slideImage {
    height: calc(100% - 65px);
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .slideImage {
    width: 48%;
    height: calc(100% - 65px);
  }
}
@media (max-width: 1023px) {
  .slideImage {
    height: auto;
    width: 100%;
    max-width: 470px;
    position: relative;
    margin: 0 auto;
  }
  .slideImage.slideImage--success {
    position: absolute;
    width: 500px;
    min-width: 100%;
    height: auto;
    right: auto;
    left: 0px;
  }
}

.inputs {
  display: flex;
  width: 100%;
  padding: 50px 0px;
  flex-direction: column;
  gap: 56px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .inputs {
    gap: 40px;
    padding: 40px 0px;
  }
}
@media (max-width: 1023px) {
  .inputs {
    gap: 40px;
    padding: 60px 0px 40px 0px;
  }
}
@media (max-width: 767px) {
  .inputs {
    gap: 40px;
    padding: 40px 0px;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--black);
  font-size: 16px;
  line-height: 1.12;
  font-family: var(--regular);
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.3;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  fill: currentColor;
}

.color {
  color: var(--color);
}

.show_inMobil {
  display: none;
}

@media (min-width: 1400px) {
  [data-error] {
    max-width: 370px;
  }
}
@media (min-width: 1280px) and (max-width: 1399px) {
  [data-error] {
    max-width: 420px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  [data-error] {
    max-width: 380px;
  }
}
@media (max-width: 1023px) {
  [data-error] {
    max-width: 280px;
  }
}

@media (max-width: 1023px) {
  .del_inTablet {
    display: none;
  }
}
@media (max-width: 767px) {
  .del_inMobil {
    display: none;
  }
  .show_inMobil {
    display: block;
  }
}
.text-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 1;
}

.title {
  display: block;
  line-height: 1.12;
}
.title.title--result {
  font-size: 80px;
}
@media (max-width: 1024px) {
  .title.title--result {
    font-size: 50px;
  }
}

.subtitle {
  display: block;
  line-height: 1.12;
}
.subtitle span {
  font-size: inherit;
  display: inline-block;
  width: auto;
}
.subtitle.subtitle--dop {
  opacity: 0.7;
  padding-top: 14px;
}

@media (min-width: 1400px) {
  .text-content {
    gap: 8px;
  }
  .title.title--h1 {
    font-size: 64px;
  }
  .title.title--h2 {
    font-size: 36px;
  }
  .subtitle {
    font-size: 24px;
  }
  .subtitle.subtitle--dop {
    font-size: 18px;
  }
}
@media (min-width: 1280px) and (max-width: 1399px) {
  .text-content {
    gap: 4px;
  }
  .title.title--h1 {
    font-size: 48px;
  }
  .title.title--h2 {
    font-size: 30px;
  }
  .subtitle {
    font-size: 20px;
  }
  .subtitle.subtitle--dop {
    font-size: 16px;
  }
}
@media (max-width: 1279px) {
  .text-content {
    gap: 4px;
  }
  .title.title--h1 {
    font-size: 40px;
  }
  .title.title--h2 {
    font-size: 28px;
  }
  .subtitle {
    font-size: 14px;
  }
  .subtitle.subtitle--dop {
    font-size: 12px;
  }
  .text-content:first-child .subtitle {
    font-size: 18px;
  }
  .text-content:first-child .subtitle.subtitle--dop {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .title.title--h1 {
    font-size: 28px;
  }
  .title.title--h2 {
    font-size: 20px;
  }
  .text-content:first-child .subtitle {
    font-size: 12.5px;
  }
  .text-content:first-child .subtitle.subtitle--dop {
    font-size: 12.5px;
    padding-top: 5px;
  }
}
#month {
  background: var(--color);
  color: var(--white);
  border-radius: 4px;
  padding: 2px 6px;
}

/*
// 1440 и выше
@media (min-width: 1400px) {}

// c 1280 до 1440
@media (min-width: 1280px) and (max-width: 1399px) {}

// c 1024 до 1279
@media (min-width: 1024px) and (max-width: 1279px) {}

// c 320 до 1440
@media (max-width: 1023px) {}
*/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 14px 20px;
  background: var(--white);
  z-index: 10;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 160px;
}

.navigation {
  display: flex;
  align-items: center;
  align-content: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.link {
  font-size: 14px;
  font-family: var(--medium);
  transition: 0.3s;
}
.link:hover {
  color: var(--color);
}

.burger {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: none;
}
.burger:before, .burger:after {
  content: "";
}
.burger:before, .burger:after,
.burger span {
  width: 100%;
  height: 2px;
  background: var(--black);
  position: absolute;
  transition: transform 0.3s, opacity 0.3s;
}
.burger span {
  font-size: 0px;
  transform: translate(0%, 0%);
  opacity: 1;
}
.burger:before {
  transform: rotate(0deg) translate(0px, -7px);
}
.burger:after {
  transform: rotate(0deg) translate(0px, 7px);
}
.burger.open:before {
  transform: rotate(45deg);
}
.burger.open:after {
  transform: rotate(-45deg);
}
.burger.open span {
  font-size: 0px;
  transform: translate(100%, 0%);
  opacity: 0;
}

@media (min-width: 560px) {
  .burger {
    display: none;
  }
}
@media (max-width: 559px) {
  .navigation {
    position: absolute;
    background: var(--white);
    border-top: 1px solid var(--bg);
    width: 100%;
    left: 0px;
    top: 100%;
    z-index: 0;
    padding: 20px;
    transition: 0.6s;
    transform: translate(100%, 0%);
  }
  .navigation.open {
    transform: translate(0%, 0%);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }
  .menu {
    width: 100%;
    justify-content: flex-end;
    gap: 12px;
  }
  .menu li:first-child {
    margin-right: auto;
  }
}
@media (max-width: 359px) {
  .menu {
    gap: 10px;
  }
  .menu .link {
    font-size: 11px;
  }
  .menu .mini {
    padding: 10px 14px;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: var(--medium);
  background: var(--color);
  color: var(--white);
  transition: background 0.3s, opacity 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button.social {
  padding: 0px;
}
.button:hover {
  background: var(--hover);
}
.button.loading {
  pointer-events: none;
  color: rgba(0, 0, 0, 0);
}
.button.loading:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border-left: 2px solid var(--white);
  border-top: 2px solid var(--white);
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-animation: rotate 0.3s linear infinite;
          animation: rotate 0.3s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 1400px) {
  .button {
    font-size: 20px;
    min-width: 240px;
    padding: 10px 20px;
    min-height: 56px;
  }
  .button.mini {
    min-width: 148px;
    min-height: 42px;
    font-size: 12px;
  }
  .button.social {
    height: 42px;
    width: 42px;
    min-height: 42px;
    min-width: 42px;
  }
  .button.social svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 1399px) {
  .button {
    font-size: 16px;
    min-width: 212px;
    padding: 10px 20px;
    min-height: 50px;
  }
  .button.mini {
    min-width: 120px;
    min-height: 38px;
    font-size: 11px;
  }
  .button.social {
    height: 38px;
    width: 38px;
    min-height: 38px;
    min-width: 38px;
  }
  .button.social svg {
    width: 20px;
    height: 20px;
  }
}
.about {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px 40px;
}
.about li {
  position: relative;
  padding-left: 34px;
}
.about li span {
  font-size: 16px;
}
@media (max-width: 1023px) {
  .about li span {
    display: block;
    font-size: 12px;
    line-height: 1.3;
  }
}
.about li img {
  position: absolute;
  left: 0px;
  top: 4px;
}
@media (max-width: 767px) {
  .about {
    padding-bottom: 50px;
  }
}

.inputs .button {
  margin-top: 20px;
}
@media (max-width: 1023px) {
  .inputs .button {
    margin-top: 0px;
  }
}

.fieldset {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  margin-top: -30px;
}
@media (max-width: 1279px) {
  .fieldset {
    gap: 12px;
  }
}
@media (max-width: 1399px) {
  .fieldset {
    margin-top: -15px;
  }
}
.fieldset.no--margin {
  margin-top: 0px;
}

.label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.label input[type=checkbox],
.label input[type=radio] {
  display: none;
}
.label input[type=radio] + span,
.label input[type=checkbox] + span {
  display: inline-flex;
  width: auto;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  font-size: 16px;
  line-height: 1;
  color: var(--color);
  cursor: pointer;
}
.label input[type=radio] + span:before,
.label input[type=checkbox] + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color);
  background: rgba(0, 0, 0, 0);
  transition: border 0.3s;
}
.label input[type=radio]:checked + span:before,
.label input[type=checkbox]:checked + span:before {
  background: url("../img/checkbox.svg") no-repeat center center;
  background-size: 60% 60%;
}
.label.label--mini {
  margin-top: -8px;
}
.label.label--mini input[type=radio] + span,
.label.label--mini input[type=checkbox] + span {
  padding-left: 16px;
  font-size: 10px;
}
.label.label--mini input[type=radio] + span:before,
.label.label--mini input[type=checkbox] + span:before {
  width: 10px;
  height: 10px;
}
.label.label--mini a {
  text-decoration: underline;
}

input[type=text],
input[type=tel] {
  background: none;
  border: none;
  font-size: 16px;
  color: var(--color);
  font-family: var(--regular);
  font-weight: 400;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid var(--color);
  padding: 12px 4px;
  border-radius: 0px;
  outline: none;
  max-width: 276px;
}
input[type=text]::-moz-placeholder, input[type=tel]::-moz-placeholder {
  font-size: 16px;
  color: inherit;
}
input[type=text]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder {
  font-size: 16px;
  color: inherit;
}
input[type=text]::placeholder,
input[type=tel]::placeholder {
  font-size: 16px;
  color: inherit;
}
input[type=text].invalid,
input[type=tel].invalid {
  border-bottom: 1px solid var(--invalid);
  color: var(--invalid);
}
input[type=text].invalid::-moz-placeholder, input[type=tel].invalid::-moz-placeholder {
  color: var(--invalid);
}
input[type=text].invalid:-ms-input-placeholder, input[type=tel].invalid:-ms-input-placeholder {
  color: var(--invalid);
}
input[type=text].invalid::placeholder,
input[type=tel].invalid::placeholder {
  color: var(--invalid);
}

input[type=text] {
  margin-top: 20px;
}